header {
  background-color: $brand_medium;
  height: 8vh;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: space-between;

  #mobileLogo {
    width: 40px;
    display: block;
    color: currentColor;
    fill: currentColor;
  }

  #desktopLogo {
    width: 80px;
    display: none;
    color: currentColor;
    fill: currentColor;
  }

  @media (min-width: 768px) {
    #mobileLogo {
      display: none;
    }

    #desktopLogo {
      display: block;
    }
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  height: 40px;
  width: auto;
  padding: 0 16px;
  border: 1px solid $neutral_lowest;
  border-radius: 24px;

  .searchInput {
    display: none;
  }

  .searchButton {
    display: block;
    color: $neutral_low;
    font-size: 16px;
    background: none;
    border: none;
  }

  &.show {
    .searchInput {
      display: flex;
      gap: 16px;
      color: white;
      background-color: $brand_medium;
    }
  }

  @media (min-width: 768px) {
    .searchInput {
      display: flex;
      gap: 16px;
      width: 480px;
      color: white;
      background-color: $brand_medium;

      input {
        background-color: $brand_medium;
        border: none;
        width: 75%;
        color: #fff;
        font-family: 'Lexend', sans-serif;
        font-size: 14px;

        &::placeholder {
          font-weight: bold;
          color: $neutral_low;
        }

        &:focus {
          font-weight: bold;
          color: #fff;
          border: none;
          outline: none;
        }
      }
    }

    .searchButton {
      display: none;
    }
  }
}

.login i {
  padding: 8px;
  font-size: 36px;
  color: #fff;
}