header {
  background-color: $brand_medium;
  height: 8vh;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: space-between;
}

#mobileLogo {
  display: block;
}

#desktopLogo {
  display: none;
}

.searchContainer {
  display: flex;
  align-items: center;
  height: 40px;
  width: auto;
  padding: 0 16px;
  border: 1px solid $neutral_lowest;
  border-radius: 10px;

  .searchInput {
    display: none;
  }

  .searchButton {
    display: block;
    color: $neutral_low;
    font-size: 16px;
    background: none;
    border: none;
  }

  @media (min-width: 768px) {

    .searchInput {
      display: block;
      display: flex;
      color: white;
      gap: 16px;
      width: 480px;
      background-color: $brand_medium;
      font-family: 'Lexend', sans-serif;
      font-size: 14px;
    }

    .searchInput input {
      background-color: $brand_medium;
      border: none;
      width: 75%;

      &::placeholder {
        color: $neutral_low;
      }

      &:focus {
        color: #fff;
        border: none;
        outline: none;
      }
    }

    .searchButton {
      display: none;
    }
  }
}

.profil i {
  padding: 8px;
  font-size: 36px;
  color: #fff;
}


@media (min-width: 768px) {
  #mobileLogo {
    display: none;
  }

  #desktopLogo {
    display: block;
  }
}