#loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
}


#loaderContainer.hidden {
  opacity: 0;
}