.productMain {
  display: flex;
  flex-direction: column; // mobile: en colonne
  width: 100%;
}

.productHeader {
  position: relative;
  width: 100%;
  overflow: hidden;

  .headerImageWrapper {
    width: 100%;
    max-height: 300px; // réduit pour mobile
    overflow: hidden;
  }

  .headerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .overlayContent {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

    .gameCover {
      height: 120px;
      border-radius: 8px;
    }

    .gameTitle {
      font-size: 1.75rem;
      font-weight: 600;
      margin: 0;
    }
  }
}

.productInformations {
  width: 100%;
  display: flex;
  flex-direction: column; // colonne sur mobile
  align-items: center;
  text-align: center;

  .informations {
    width: 90%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  li {
    font-size: 0.95rem;
    line-height: 1.5;
  }
}

.offers {
  text-align: center;

  .offerList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .openOffersOverlay {
    margin-top: 1.5rem;
    width: 80%;
  }


}

.description {
  width: 90%;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;

  h2 {
    font-size: 1.4rem;
  }

  p,
  ul,
  ol {
    margin-bottom: 1rem;
  }

  ul li {
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
  }
}

.disclaimer {
  font-size: 0.7rem;
  padding: 16px;
  text-align: center;

  a {
    color: $brand_medium;
    font-weight: 500;
  }
}

.discount.q1 {
  background-color: $error_high;
}

.discount.q2 {
  background-color: $error_medium;
}

.discount.q3 {
  background-color: $warning_medium;
}

.discount.q4 {
  background-color: $success_medium;
}

@media (min-width: 768px) {
  .productMain {
    flex-direction: row;

    .productInformations {
      width: 50%;
      flex-direction: row;
      justify-content: space-around;
      text-align: left;
      align-items: flex-start;

      .informations {
        width: 50%;
      }
    }

    .offers {
      width: 40%;
      margin: auto;
    }
  }



  .overlayContent {
    bottom: 2rem;
    left: 2rem;

    .gameCover {
      height: 200px;
    }

    .gameTitle {
      font-size: 64px;
    }
  }

  .offers .offerList {
    flex-direction: column;
  }

  .disclaimer {
    padding: 24px 80px;
    font-size: 0.75rem;
  }
}