// ----- COLORS TOKENS -----
//Neutral
$neutral_highest: #161B29;
$neutral_high: #3D4754;
$neutral_medium: #5A6575;
$neutral_low: #AAB4BF;
$neutral_lowest: #F5F7FA;
//Brand
$brand_highest: #0E266B;
$brand_high: #0B41B5;
$brand_medium: #357DF2;
$brand_low: #9DCAFC;
$brand_lowest: #E5EFFE;
//Supporting
$supporting_highest: #481173;
$supporting_high: #7920C7;
$supporting_medium: #AA5BF5;
$supporting_low: #D4AEFC;
$supporting_lowest: #F0E3FF;
//Error
$error_highest: #6B1616;
$error_high: #B81D1D;
$error_medium: #ED4545;
$error_low: #F7A3A3;
$error_lowest: #FCE3E3;
// Warning
$warning_highest: #613207;
$warning_high: #AB6409;
$warning_medium: #F2AD0C;
$warning_low: #FAD957;
$warning_lowest: #FCF4CA;
//Success
$success_highest: #25380B;
$success_high: #4F7812;
$success_medium: #85C71A;
$success_low: #C4F569;
$success_lowest: #EFFCD4;